h4{
    color :green;}

p.speech
 { 
    color :black;
    font-size:10x; 
    font-family: 'Courier New', Courier, monospace; } 

p.direction {
    background-color:aquamarine;
    color: red;
       font-size:10x; 
       font-family: 'Courier New', Courier, monospace; } 

p.direction:hover {
    background-color: yellowgreen ;
    font: 10px; }

.COMEDIAN {
    font-style: bold;
    color:black; }

.VILLAIN {
        font-style: bold;
        color:black; }

.TRAGEDIAN {
        font-style: bold;
        color:black;  }
.OLDMAN {
            font-style: bold;
            color: black; }

  
table { border: solid 3px red;
        border-collapse: collapse;
        padding: 10px;
        margin: 60px 13em 15pt 10%;}

    td, th {border: solid 1px ;
    text-align: center;}

    tr:nth-child(even)
{background-color: #e2e2e2;}

h6:hover{
    box-shadow: 2px 3px 5px greenyellow;
    border: dashed ; border-color:red;  
    background-color:goldenrod; }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        background-color: aquamarine; }
      
    li {
        float: left; }
      
    li a{
        display: block;
        color: blue;
        font-style: italic;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none; }
      
img{
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;  }
    
