h4{
    color :green;
}

p.speech
 { 
    color :red; font-size:10x;
 } 

p.direction {
   
    color : red; font-size:10x; 
}
p.direction.hover {
    color: black ;
    font: 10px;
    background-color: red;
}

.COMEDIAN {
    font-style: bold;
    color:black;
}

.VILLAIN{
        font-style: bold;
        color:black; 
    }

.TRAGEDIAN{
        font-style: bold;
        color:black;
    }
.OLDMAN{
            font-style: bold;
            color: black;
        }
  